<ion-content>
    <div class="address_wrapper">
        <div class="nav_header">
            <button class="nav_btn" (click)="goBack()"></button>
        </div>
        <div class="address_top_section">
            <ion-row>
                <ion-col>

                </ion-col>
                <ion-col>
                    <h5>Water Can</h5>
                    <p>$1.25</p>
                    <h6>Qty: <strong>2</strong></h6>
                    <!-- <div class="range">
                        <ion-range dualKnobs="false" min="0" max="10" step=""></ion-range>
                    </div> -->
                    <div class="range-slider">
                        <input class="input-range" type="range" value="250" min="1" max="500">
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <img src="../../assets/watercan.png">
                </ion-col>
                <ion-col>
                    <h4>20 Litre</h4>
                </ion-col>
            </ion-row>
        </div>
        <div class="address_bottom_section">
            <h5 class="floatLeft">
                <ion-toggle></ion-toggle>
                <span>Include Stand</span>
            </h5>
            <div class="counter floatRight">
                <button class="add" (click)="add()">+</button>
                <div class="counter_section">
                    {{counter}}
                </div>
                <button class="sub" (click)="sub()">-</button>
            </div>
            <div class="clear"></div>
            <div class="other_section">
                <h5>Deliver to</h5>
                <p>Ibkar Bin Ibrahim<br> Insaf House<br> Nadvath Nagar P.O<br> Alappuzha
                </p>
                <h5>Phone</h5>
                <input class="" type="number" placeholder="enter phone">
                <div class="textCenter">
                    <button class="payment_btn">Make Payment</button>
                </div>

            </div>

        </div>
    </div>
</ion-content>