@import "../../global.scss";
.address_wrapper {
    width: 100%;
    height: 100vh;
    background-color: #406cff;
    .nav_header {
        background-color: transparent;
        box-shadow: none;
        .nav_btn {
            background-image: url("../../assets/back_arrow.png");
        }
    }
    .address_top_section {
        padding-top: 60px;
        img {
            position: absolute;
            bottom: -20px;
            width: 110px;
            left: 20%;
        }
        h5 {
            margin: 0px;
            padding: 0px;
            color: $white_color;
            font-weight: 600;
            font-size: 18px;
        }
        p {
            margin: 0px;
            padding: 0px;
            color: #c4cefe;
            font-style: normal;
            font-size: 16px;
            padding-top: 1px;
            padding-bottom: 5px;
            font-weight: 600;
        }
        h6 {
            margin: 0px;
            padding: 0px;
            color: $white_color;
            font-size: 20px;
            font-style: italic;
            font-weight: 700;
            letter-spacing: 1px;
            strong {
                font-size: 26px;
            }
        }
        h4 {
            color: #224ddc;
            font-size: 40px;
            font-weight: 800;
            font-style: italic;
            width: 100%;
        }
    }
    .address_bottom_section {
        background-color: $white_color;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        height: calc(100vh - 274px);
        padding: 20px;
        padding-top: 50px;
        h5 {
            font-size: 24px;
            font-weight: 700;
            ion-toggle {
                margin: 0px;
                padding: 5px;
                position: relative;
                top: 6px;
                margin-right: 15px;
                .toggle-icon {
                    height: 18px;
                }
            }
            margin: 0px;
            padding: 0px;
            color: #2c2c2c;
            span {}
        }
        p {
            margin: 0px;
            padding: 0px;
            padding-top: 10px;
            color: #787878;
            font-weight: 600;
        }
        .counter {
            position: relative;
            bottom: 35px;
            button {
                background-color: transparent;
                color: #a7a5a5;
                font-size: 28px;
                font-weight: 800;
                font-style: italic;
            }
            .add {}
            .counter_section {
                color: #2c2c2c;
                text-align: center;
                font-weight: 800;
                font-size: 28px;
                font-style: italic;
            }
            .sub {}
        }
    }
    .other_section {
        position: relative;
        bottom: 50px;
        h5 {
            margin-bottom: 5px;
            margin-top: 10px;
        }
        .payment_btn {
            width: 250px;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 30px;
            height: 50px;
            background-color: $primary_color;
            color: $white_color;
            font-size: 17px;
            font-weight: 600;
            border-radius: 35px;
            -webkit-box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
            -moz-box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
            box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
        }
        input {
            border: none;
            &::placeholder {
                color: #dcd9d9;
            }
            &:focus {
                outline: none;
            }
            color:#2c2c2c;
            font-size: 24px;
            font-weight: 600;
        }
    }
}