<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="true">
                        <ion-item (click)="pagePush('home')">
                            <ion-label>
                                Home
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="true">
                        <ion-item (click)="pagePush('address')">
                            <ion-label>
                                Address
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="true">
                        <ion-item (click)="pagePush('offer')">
                            <ion-label>
                                Offers
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>