<ion-header>
    <ion-menu-toggle auto-hide="true">
        <button class="nav_btn nav_menu floatLeft">
    
    </button>
    </ion-menu-toggle>
    <div class="nav_title floatLeft">
        <h4> Offers</h4>
    </div>
    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="offer_list">
        <h5>Recently Added</h5>
        <ul>
            <li>
                <ion-row>
                    <ion-col size="8" class="p0">
                        <h5>50% off on your first order!</h5>
                        <h6>Available only for new users</h6>
                        <h3>50%</h3>
                    </ion-col>
                    <ion-col size="4" class="p0">
                        <img src="../../assets/v1.png">
                    </ion-col>
                </ion-row>
            </li>
            <li>
                <ion-row>
                    <ion-col size="8" class="p0">
                        <h5>Buy 2 get 20% off!</h5>
                        <h6>valid till 20th October 2020</h6>
                        <h3>20%</h3>
                    </ion-col>
                    <ion-col size="4" class="p0">
                        <img src="../../assets/v2.png">
                    </ion-col>
                </ion-row>
            </li>
            <li>
                <ion-row>
                    <ion-col size="8" class="p0">
                        <h5>Use Google Pay for payment and get 5% off!</h5>
                        <h6>valid till 20th October 2020</h6>
                        <h3>5%</h3>
                    </ion-col>
                    <ion-col size="4" class="p0">
                        <img src="../../assets/v3.png">
                    </ion-col>
                </ion-row>
            </li>
        </ul>
    </div>
</ion-content>