@import "../../global.scss";
.offer_list {
    padding: 15px;
    h5 {
        color: #484848;
        margin: 0px;
        padding: 0px;
        padding-bottom: 10px;
    }
    ul {
        margin: 0px;
        padding: 0px;
        li {
            list-style: none;
            padding: 15px;
            margin-bottom: 20px;
            -webkit-box-shadow: 0px 5px 18px 0px rgba(49, 60, 76, 0.1);
            -moz-box-shadow: 0px 5px 18px 0px rgba(49, 60, 76, 0.1);
            box-shadow: 0px 5px 18px 0px rgba(49, 60, 76, 0.1);
            border-radius: 10px;
            h5 {
                margin: 0px;
                padding: 0px;
                color: #313c4c;
                font-weight: 600;
            }
            h6 {
                margin: 0px;
                padding: 0px;
                color: #313c4c;
                font-size: 14px;
                font-weight: 400;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            h3 {
                margin: 0px;
                padding: 0px;
                color: #e4e6f4;
                font-size: 53px;
                font-weight: 700;
                font-style: italic;
            }
        }
    }
}