<ion-content padding>
    <div class="signup_wrapper">
        <h1>Create<br> Account
        </h1>
        <div class="phone_number_section">
            <div class="tel_code floatLeft">+91</div>
            <div class="phone_number floatRight">
                <input class="" placeholder="enter phone" type="number">
                <div class="alert error_alert" [hidden]="!isError">
                    Error one
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="or_section">
            OR
        </div>
        <div class="social_btn fb_btn">Login with Facebook</div>
        <div class="social_btn google_btn"> Signin with Google+</div>
        <div class="textCenter">
            <button class=" signup_btn">Signup</button>
        </div>
    </div>
</ion-content>