@import "../../global.scss";
.signup_wrapper {
    width: calc(100% - 30px);
    margin: 0 auto;
    h1 {
        color: $text_dark;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: 1px;
    }
    .phone_number_section {
        width: 100%;
        padding-top: 25%;
        .tel_code {
            font-size: 28px;
            font-weight: 900;
            width: 60px;
            height: 40px;
            color: $text_dark;
            border-right: 2px solid #9c9b9b;
            line-height: 40px;
        }
        .phone_number {
            width: calc(100% - 60px);
            height: 40px;
            input {
                width: 100%;
                height: 100%;
                border: none;
                font-size: 30px;
                font-weight: 900;
                padding-left: 5px;
                color: $text_dark;
                &::placeholder {
                    color: #e1e1e2;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .or_section {
        text-align: center;
        color: $text_dark;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 700;
        font-size: 22px;
    }
    .social_btn {
        width: 250px;
        margin: 0 auto;
        height: 40px;
        color: $white_color;
        margin-bottom: 15px;
        line-height: 40px;
        padding-left: 60px;
        background-repeat: no-repeat;
        background-position: 15px;
        background-size: 35px;
        font-weight: 600;
        padding-right: 30px;
        text-align: right;
    }
    .fb_btn {
        background-color: #3c66c4;
        background-image: url("../../assets/fb.png");
    }
    .google_btn {
        background-color: #cf4332;
        background-image: url("../../assets/g_plus.png");
    }
    .signup_btn {
        width: 250px;
        margin: 0 auto;
        margin-top: 20%;
        height: 50px;
        background-color: $primary_color;
        color: $white_color;
        font-size: 17px;
        font-weight: 600;
        border-radius: 35px;
        -webkit-box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
        -moz-box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
        box-shadow: 0px 0px 38px 0px rgba(44, 91, 248, 1);
    }
}