/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
  Site Name: BOTTLEAPP
  URI: http:
  Description: This is the theme scss for BOTTLEAPP
  Version: 1.0
  Author: AMAL K
  Author URI:
  Tags:

	---------------------------
	THEME STYLES
	---------------------------

	TABLE OF CONTENTS
	---------------------------
	 01. FONTS-N-SIZES
	 02. FONTS-COLOR
	 03. THEMES-N-BACKGROUNDS
	 04. SPACING-N-POSITIONS
	 05. ALIGMENTS
	 06. ALERTS-N-MESSAGES


*/


/*-------------------------------

01. FONTS-N-SIZES

--------------------------------*/

@font-face {
    font-family: 'Segoe UI';
    src: url("/assets/SEGOEUI.ttf");
}

* {
    font-family: 'Segoe UI';
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none !important;
}

button {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

html,
body {
    font-family: 'Muli', sans-serif;
    margin: 0px;
}

button {
    cursor: pointer;
}


/*-------------------------------

02. FONTS-SETTINGS

--------------------------------*/

.text_color_white {
    color: #fff !important;
}

.font_size_xs {
    font-size: 12px !important;
}

.font_size_sm {
    font-size: 14px !important;
}

.font_size_md {
    font-size: 16px !important;
}

.font_size_lg {
    font-size: 18px !important;
}

.font_size_xl {
    font-size: 20px !important;
}

.font_size_vl {
    font-size: 35px !important;
}

.font_weight300 {
    font-weight: 300 !important;
}

.font_weight400 {
    font-weight: 400 !important;
}

.font_weight500 {
    font-weight: 500 !important;
}

.font_weight600 {
    font-weight: 600 !important;
}


/*-------------------------------

03. THEMES-N-BACKGROUNDS

--------------------------------*/

$primary_color:#2c5bf8;
$white_color:#fff;
$text_dark:#5a5a5b;

/*-------------------------------

04. SPACING-N-POSITIONS

--------------------------------*/

.width25 {
    width: 25% !important;
}

.width50 {
    width: 50% !important;
}

.width75 {
    width: 75% !important;
}

.widthFull {
    width: 100% !important;
}

.widthAuto {
    width: auto !important;
}

.height25 {
    height: 25% !important;
}

.height50 {
    height: 50% !important;
}

.height75 {
    width: 75% !important;
}

.heightFull {
    height: 100% !important;
}

.heightAuto {
    height: auto !important;
}

.p0 {
    padding: 0px !important;
}

.pl0 {
    padding-left: 0px !important;
}

.pr0 {
    padding-right: 0px !important;
}

.pt0 {
    padding-top: 0px !important;
}

.pb0 {
    padding-bottom: 0px !important;
}

.p10 {
    padding: 10px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.m0 {
    margin: 0px !important;
}

.ml0 {
    margin-left: 0px !important;
}

.mr0 {
    margin-right: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mAuto {
    margin: 0 auto !important;
}

.clear {
    clear: both !important;
}

.absolute {
    position: absolute !important;
}

.relative {
    position: relative !important;
}

.fixed {
    position: fixed !important;
}

.borderNone {
    border: none !important;
}


/*-------------------------------

05. ALIGMENTS

--------------------------------*/

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

.nav_header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.nav_btn {
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #282438;
    font-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.nav_menu {
    background-image: url("/assets/menu_icon.png");
}

.location_nav {
    background-image: url("/assets/location_icon.png");
    color: #2c2c2c;
    height: 50px;
    line-height: 45px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: top 12px left 3px;
    padding-left: 30px;
    padding-right: 15px;
}

.nav_title {
    width: calc(100% - 100px);
    color: rgba(59, 57, 77, 1);
    padding: 12px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    img {
        height: 30px;
    }
    h4 {
        margin: 0px;
        font-weight: 800;
        padding: 0px;
        font-size: 20px;
        text-align: center;
        span {
            color: #484848;
        }
    }
    input {
        width: 100%;
        border: none;
        padding-left: 10px;
        padding-right: 10px;
        &:focus {
            outline: none;
        }
        &:hover {
            outline: none;
        }
    }
}

ion-header {
    z-index: 9999 !important;
    order: 0 !important;
    &:after {
        background-image: none !important;
    }
}

.alert {
    width: 100%;
    color: $white_color;
    border-radius: 20px;
    border-top-left-radius: 0px;
    margin-top: 5px;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.error_alert {
    background-color: #bd3309;
}

ion-range {
    #shadow-root {
        .range-slider {
            .range-bar {
                background-color: #5c81fe !important;
            }
        }
    }
}

.range-slider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px;
}

.range-slider .input-range {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #5d81fe;
    outline: none;
}

.range-slider .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider .input-range::-webkit-slider-thumb:hover {
    background: #fff;
}

.range-slider .input-range:active::-webkit-slider-thumb {
    background: #fff;
}

.range-slider .input-range::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border: 0;
    border-radius: 50%;
    background: #666;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

.range-slider .input-range::-moz-range-thumb:hover {
    background: #fff;
}

.range-slider .input-range:active::-moz-range-thumb {
    background: #fff;
}

.range-slider .range-value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #3f3f3f;
    padding: 5px 10px;
    margin-left: 7px;
}

.range-slider .range-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #3f3f3f;
    border-bottom: 7px solid transparent;
    content: '';
}

 ::-moz-range-track {
    background: #353535;
    border: 0;
}

input::-moz-focus-inner {
    border: 0;
}