@import "../../global.scss";
.home_wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    background-color: $primary_color;
    overflow: scroll;
    .home_wrapper_inner {
        background-color: $white_color;
        padding: 20px;
        padding-bottom: 70px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        h3 {
            color: #7f7e7e;
            margin: 0px;
            padding: 0px;
            font-weight: 700;
            padding-bottom: 8px;
        }
        h5 {
            color: #484848;
            margin: 0px;
            padding: 0px;
            font-weight: 900;
            font-size: 24px;
        }
        p {
            color: #7f7e7e;
            margin: 0px;
            padding: 0px;
            padding-top: 10px;
            font-style: italic;
        }
        .bottle_card {
            width: 100%;
            background-color: #3f6bff;
            border-radius: 25px;
            -webkit-box-shadow: 0px 10px 12px -7px rgba(63, 107, 255, 1);
            -moz-box-shadow: 0px 10px 12px -7px rgba(63, 107, 255, 1);
            box-shadow: 0px 10px 12px -7px rgba(63, 107, 255, 1);
            margin-top: 8%;
            margin-bottom: 6%;
            padding: 30px;
            img {
                position: absolute;
                bottom: 50px;
                width: 120px;
            }
            h5 {
                margin: 0px;
                padding: 0px;
                color: $white_color;
                font-weight: 600;
                font-size: 18px;
            }
            p {
                margin: 0px;
                padding: 0px;
                color: #c4cefe;
                font-style: normal;
                font-size: 16px;
                padding-top: 1px;
                padding-bottom: 5px;
                font-weight: 600;
            }
            h6 {
                margin: 0px;
                padding: 0px;
                color: $white_color;
                font-size: 20px;
                font-style: italic;
                font-weight: 700;
                letter-spacing: 1px;
                strong {
                    font-size: 26px;
                }
            }
            h4 {
                color: #224ddc;
                font-size: 40px;
                font-weight: 800;
                font-style: italic;
                text-align: right;
                position: absolute;
                width: 100%;
                bottom: -6px;
            }
            .range {
                width: 90px;
                margin-top: 5px;
                ion-range {
                    padding: 0px;
                    padding-left: 5px;
                    padding-right: 10px;
                    height: 30px;
                }
            }
            .add_btn {
                border: 1px solid $white_color;
                margin-top: 5px;
                color: $white_color;
                background-color: transparent;
                border-radius: 20px;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 15px;
                padding-right: 15px;
                font-size: 13px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .footer_section {
        padding-top: 15%;
        padding: 25px;
        h5 {
            color: $white_color;
            text-align: right;
            background-image: url("../../assets/white_arrow.png");
            background-position: right top 7px;
            background-repeat: no-repeat;
            font-size: 25px;
            background-size: 28px;
            margin: 0px;
            padding: 0px;
            padding-right: 40px;
        }
    }
}