<ion-header>
    <ion-menu-toggle auto-hide="true">
        <button class="nav_btn nav_menu floatLeft">
      
    </button>
    </ion-menu-toggle>
    <div class="location_nav floatRight">
        Vytilla
    </div>
    <div class="clear"></div>
</ion-header>
<ion-content>
    <div class="home_wrapper">
        <div class="home_wrapper_inner">
            <h3>Hello,</h3>
            <h5>Ibkar Bin Ibrahim</h5>
            <p>"Pure water is world's first <br>and foremost medicine!"</p>
            <div class="bottle_card">
                <ion-row>
                    <ion-col size="7">
                        <h5>Water Can</h5>
                        <p>$1.25</p>
                        <h6>Qty: <strong>2</strong></h6>
                        <!-- <div class="range">
                            <ion-range dualKnobs="false" min="0" max="10" step=""></ion-range>
                        </div> -->
                        <div class="range-slider">
                            <input class="input-range" type="range" value="250" min="1" max="500">
                        </div>
                        <button class="add_btn">Add</button>
                    </ion-col>
                    <ion-col size="5">
                        <img src="../../assets//watercan.png">
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="12">
                        <h4>20 Litre</h4>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="footer_section">
            <h5 (click)="pagePush('address')">Continue</h5>
        </div>
    </div>
</ion-content>